doctype 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible" content="IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='robots', content='noindex')

    title CrowdSound - The Sound of the Crowd

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#050505")
    meta(name="theme-color", content="#ffffff")

    // include default stylesheets and any view stylesheets

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,700,700italic')
    link(rel='stylesheet', href='/stylesheets/all.css')

    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/modernizr.js')

    block head

  body

    if (messages.info)
        .message.info(style="position: fixed; top: 10px; right: 10px; width: 220px;z-index:9000000")
            div.alert.alert-success= messages.info

    block nav

    //div#body(class="")
    block content

    footer
      div(class="container")

          script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
          script(src='/javascripts/main.js')
          //script(src='/javascripts/swipeTo.js')
