doctype 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible" content="IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='robots', content='noindex')
    - if (typeof(title) == 'undefined')
        title hackbar
    - else
        title= title

    // include default stylesheets and any view stylesheets

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.css')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,700,700italic')

    block head

  body
    nav(class="navbar navbar-inverse")
      div(class="container")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expandedfalse", aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
          a(class="navbar-brand", href="#") Hackbar
        div(id="navbar", class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#") Home
            li
              a(href="#") About
            li
              a(href="#") Contact
            li
              a(href="/card") Music Card
    //div#body(class="")
    block content

    footer
      div(class="container")
          p
          p
          p &copy; HackaTUM !{(new Date()).getFullYear()}
