extends ../layout

block content
    h1 Volume votes

    .btn-group
        a.btn.btn-default(href='/vote/volume-up') Up
        a.btn.btn-default(href='/vote/volume-down') Down
    br
    br
    hr
    p= 'Cutoff: ' + cutoffDate.format('HH:mm')
    pre= JSON.stringify(aggregatedResult, null, 4)
    hr
    br
    ul
        each vote in votes
            li= moment(vote.date).format('HH:mm') + ' ' + (vote.vote ? 'Up' : 'Down')

