a:hover,
a:active {
  color: #2bbbad;
  text-decoration: none;
}
a.disabled {
  cursor: default;
  opacity: 0.5;
}
a.disabled:hover {
  color: #757575;
  text-decoration: none;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  object-fit: cover;
}
.desktop-vspace {
  padding-top: 1em;
  padding-bottom: 1em;
}
.vspace {
  padding-top: 1em;
  padding-bottom: 1em;
}
@media (max-width: 768px) {
  .desktop-vspace {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.width-container {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.wide-wrapper {
  position: relative;
}
.cover-art {
  display: inline-block;
  position: relative;
}
.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2bbbad;
}
.cover-art-width {
  max-width: 68vmin;
  max-height: 68vmin;
}
.cover-art-image {
  width: 100%;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pos-rel {
  position: relative;
}
.flex-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  align-content: space-between;
}
.truncated {
  display: block;
  /* forces text to single line */

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}
.fg-1 {
  flex-grow: 1;
}
.next-button {
  height: 20vmin;
  width: 20vmin;
  border-radius: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
}
.player-control-box {
  margin-left: auto;
  margin-right: auto;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-button {
  color: #757575;
}
.control-button:not(.disabled):hover {
  color: #2bbbad;
}
.song-info {
  font-size: 1.3rem;
}
.squished {
  line-height: 1.3rem;
}
.music-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.music-list-entry {
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}
.music-list-entry + .music-list-entry {
  border-top: 1px solid #e0e0e0;
}
.music-list-entry.active,
.crowdsound-btn {
  background: #2bbbad;
}
.crowdsound-btn {
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  display: inline-block;
  border: none;
}
.crowdsound-btn-block {
  display: block;
  width: 100%;
}
.music-list-entry.active,
.music-list-entry.active a {
  color: #fff;
}
.music-list-entry.active a:hover {
  color: #000;
}
.music-list-art-image {
  max-width: 20vmin;
}
.music-list-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.music-list-vote a {
  font-size: 150%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.music-list-description {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  min-width: 0;
}
.text-highlight {
  color: #2bbbad;
}
.music-list-description div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  padding-right: 1em;
}
.hidden {
  display: none;
}
#chat {
  border: 1px solid #999;
  background-color: #ddd;
  overflow: auto;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
}
.user-me {
  font-weight: bold;
  color: #f00;
}
.user {
  font-weight: bold;
  color: #00f;
}
.system {
  color: #999;
  font-style: italic;
}
