a:hover, a:active {
  color: @crowdsound;
  text-decoration: none;
}

a.disabled {
  cursor: default;
  opacity: 0.5;
  &:hover {
    color: @grey;
    text-decoration: none;
  }
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  object-fit: cover;
}

.desktop-vspace {
  padding-top: 1em;
  padding-bottom: 1em;
}

.vspace {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (max-width : @smarthphone-break) {
  .bg-image {
    // display: none;
  }
  .desktop-vspace {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.width-container {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.wide-wrapper {
  position: relative;
}
.cover-art {
  display: inline-block;
  position: relative;
}
.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: @crowdsound;
}

.cover-art-width {
  max-width: @art-width;
  max-height: @art-width;
}

.cover-art-image {
  width: 100%;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pos-rel {
  position: relative;
}

.flex-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  align-content: space-between;
}

.truncated {
  display: block;
  white-space: nowrap; /* forces text to single line */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.fg-1 {
  flex-grow: 1;
}

.next-button {
  height: @next-size;
  width: @next-size;
  border-radius: @next-size/2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @lightgrey;
}

.player-control-box {
    margin-left: auto;
    margin-right: auto;
    height: 10vmin;
    width: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-button {
  color: @grey;
  &:not(.disabled) {
    &:hover {
      color: @crowdsound;
    }
  }
}

.song-info {
  font-size: 1.3rem;
}

.squished {
  line-height: 1.3rem;
}

.music-list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.music-list-entry {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

.music-list-entry + .music-list-entry {
    border-top: 1px solid @lightgrey;
}

.music-list-entry.active,
.crowdsound-btn
 {
    background: rgba(43,187,173, 1);
}

.crowdsound-btn {
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    border: none;
}

.crowdsound-btn-block {
    display: block;
    width: 100%;
}

.music-list-entry.active,
.music-list-entry.active a {
    color: #fff;
}

.music-list-entry.active a:hover {
    color: #000;
}

.music-list-art-image {
    max-width: @musiclist-cover;
}

.music-list-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-list-vote a {
    font-size: 150%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.music-list-description {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-width: 0;
}

.music-list-description div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    padding-right: 1em;
}

.hidden {
  display:none;
}
