extends ../layout

block nav
    include ../nav.jade

block content
    .wrapper
        .list
            .item
                a.item-swipe(href='/') Song 1
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 2
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 3
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 4
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 5
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 6
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 7
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 8
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 8
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o
            .item
                a.item-swipe(href='#') Song 9
                .item-back
                    button.action.first.btn-dislike(type='button')
                        i.fa.fa-thumbs-o-down
                    button.action.second.btn-like(type='button')
                        i.fa.fa-heart-o