extends ../layout

block nav
    include ../nav.jade

block content
    .wrapper
        .list
            each entry in playlist.items
                .item
                    if currentSong.uri == entry.track.uri
                        a.item-swipe(href='/'): b= entry.track.name + ' ' + entry.track.artists.map(a => a.name).join(', ') + ' ' + entry.track.album.name
                    else
                        a.item-swipe(href='/')= entry.track.name + ' ' + entry.track.artists.map(a => a.name).join(', ') + ' ' + entry.track.album.name
                    .item-back
                        button.action.first.btn-dislike(type='button')
                            i.fa.fa-thumbs-o-down
                        button.action.second.btn-like(type='button')
                            i.fa.fa-heart-o