extends ../layout

block nav
    include ../nav.jade

block content
    .wrapper
        form(method="POST", action="/search")(style="width:100%")
            .form-group
                input.form-control(type="text",name="search",placeholder="Search")
            button.btn.waves-effect.waves-light(type='submit', name='action')
                | Submit
                i.fa.fa-check

        if tracks && tracks.length > 0
            .list
                each track in tracks
                    .item-wrapper
                        .track.float-left
                            p: b=track.name
                            p=track.artists.map(a => a.name).join(', ')
                            p=track.album.name
                        .cta.float-right
                            a.btn.btn-default.float-right(href="/addtrack/" + track.uri) Add